<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balaji car clinic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <style>
        img {
            width: 1313px;
            height: 339px;
        }

        @media (max-width: 600px) {
            img {
                width: 415px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg " style="background-color: red;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white;">balaji car clinic</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-color: white;"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about" style="color: white;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" style="color: white;">conatct us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/service" id="navbarDropdown" role="button"
                            style="color: white;">services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <main>

        <br>
        <img src="https://th.bing.com/th/id/OIP.sFYVBBWq5lOIdUQ0cH32kAHaD0?w=295&h=179&c=7&o=5&pid=1.7" alt="img">
        <center>
            <h1>
                About
            </h1>
            <p>
                Balaji car clinic is India's originally standardized system of workshops to give car services. We give <br>
                reasonable, honest and helpful on-request car repair at the comfort of your home or your office. With expert
                <br>
                mechanics, cutting edge apparatus, top quality, standardized procedures and estimating,Balaji car clinic
                <br>
                gives a uniform assistance experience to every one, over its workshops. Everything <br>
                under one-rooftop: adjusting, fixes, assessments, denting/painting and car care. <br>
                <br>
                Balaji car clinic gives the best online car repair service in India. with Balaji car clinic <br>
                maintainance car easy, moderate and totally straightforward. We likewise furnish you with the <br> 
                best vehicle administration bargains. Full vehicle administration is facilitated at one of the <br>
                Balaji car clinic vehicles administration focus. So book car services now!
            </p>
        </center>

       


    </main>
    <hr>
    <footer>

        <!-- Footer -->
        <footer class="page-footer font-small indigo"
            style="background-color: red; color: white; font-family: cursive;">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="/" style="color: white;">Home</a>
                            </li>
                            <li>
                                <a href="/about" style="color: white;">About us</a>
                            </li>
                            <li>
                                <a href="/contact" style="color: white;">Enquiry</a>
                            </li>
                            <li>
                                <a href="/gallery" style="color: white;">Gallery</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">support</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="/Termandcondition" style="color: white;">Term and Condition</a>
                            </li>
                            <li>
                                <a href="/Privacypolicy" style="color: white;">Privacy policy</a>
                            </li>

                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">servives</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="/carwashing" style="color: white;">Car wash</a>
                            </li>
                            <li>
                                <a href="/wheelcare" style="color: white;">Wheel care</a>
                            </li>
                            <li>
                                <a href="/cardenting" style="color: white;">Denting</a>
                            </li>
                            <li>
                                <a href="/customrepairing" style="color: white;">Car repair</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">contact us</h5>
                        <h5>
                            Mobile no:-
                        </h5>
                        <p>
                            9414060503
                        </p>


                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->


        </footer>
        <!-- Footer -->
        <div>
            <br>
            <center>
                <h5>Made by G.A developers</h5>
                <p>contact no.9929901435</p>
            </center>
        </div>
        <div>
            <section class="copy" style=" 
    margin-left:px; background-color: grey;">
                <center>
                    copyright &copy; 2027-All right reserved
                </center>
            </section>
        </div>



</body>

</html>